SpeechRecognition
pydub
requests
pyaudio
numpy
sounddevice
pyht
ffmpeg-python
pyttsx3
openwakeword
onnxruntime
pydantic
bs4
librosa
torch
transformers
browser-use
faster-whisper
homeassistant
dotenv
controlnet_aux
mediapipe
cuda-python
onnx
onnx-graphsurgeon
polygraphy
nvtx
langchain_openai
langchain_google_genai
gtts